<div class="container">
    <br>
    <h1 class="text-center">PIPES - ANGULAR 6</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Variable</th>
                        <th scope="col">Pipe</th>
                        <th scope="col">Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ nombre }}</td>
                        <td>uppercase</td>
                        <td>{{ nombre | uppercase }}</td>
                    </tr>
                    <tr>
                        <td>{{ nombre }}</td>
                        <td>lowercase</td>
                        <td>{{ nombre | lowercase }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>